* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

#players-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.player {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 20%;
  background-color: #d0ebff;
  margin: 0.5em 0.25em;
  padding: 0.5em;
}

.player-img {
  width: auto;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 9em; */
  height: 4em;
}
